---

- name: 'Add basic repositories to /etc/sources.list'
  become: true
  lineinfile:
    line: "{{ item }}"
    state: present
    path: /etc/apt/sources.list
  loop:
    - deb http://deb.debian.org/debian {{ ansible_lsb.codename }} main contrib non-free
    - deb-src http://deb.debian.org/debian {{ ansible_lsb.codename }} main contrib non-free
    - deb http://security.debian.org/debian-security/ {{ ansible_lsb.codename }}-security main contrib non-free
    - deb-src http://security.debian.org/debian-security/ {{ ansible_lsb.codename }}-security main contrib non-free

- name: 'Add apt key for spotify'
  become: true
  apt_key:
    state: present
    id: 4773BD5E130D1D45
    keyserver: keyserver.ubuntu.com

- name: 'Add repository for spotify'
  become: true
  apt_repository:
    repo: deb http://repository.spotify.com stable non-free
    state: present
    filename: spotify

- name: 'Install a list of packages'
  become: true
  apt:
    name: "{{ item }}"
    state: present
    install_recommends: no
  loop:
    - dmenu
    - slim
    - xorg
    - pulseaudio
    - pavucontrol
    - thunar
    - arandr
    - qnapi
    - vlc
    - pdfsam
    - evince
    - spotify-client
    - pass
    - libreoffice-calc
    # printers
    - cups
    - cups-client
    - pulseaudio-module-bluetooth
    - net-tools
    # latex things
    - texlive
    - texlive-latex-extra
    - texlive-plain-generic
  
- name: 'Include brave tasks'
  become: true
  include: brave.yml

- name: 'Include i3 tasks'
  include: i3.yml

# It's not a good idea when you're using dockerized env
# - name: 'Replace every DHCP-based DNS with localhost''s stubby'
#   lineinfile:
#     line: supersede domain-name-servers 127.0.0.1;
#     state: present
#     path: /etc/dhcp/dhclient.conf

- name: 'Include xmonad tasks'
  include: xmonad.yml
  
