---

- name: 'Add basic repositories to /etc/sources.list'
  lineinfile:
    line: "{{ item }}"
    state: present
    path: /etc/apt/sources.list
  loop:
    - deb http://deb.debian.org/debian {{ ansible_lsb.codename }} main contrib non-free
    - deb-src http://deb.debian.org/debian {{ ansible_lsb.codename }} main contrib non-free
    - deb http://security.debian.org/debian-security/ {{ ansible_lsb.codename }}-security main contrib non-free
    - deb-src http://security.debian.org/debian-security/ {{ ansible_lsb.codename }}-security main contrib non-free

- name: 'Add apt key for spotify'
  apt_key:
    state: present
    id: 4773BD5E130D1D45
    keyserver: keyserver.ubuntu.com

- name: 'Add repository for spotify'
  apt_repository:
    repo: deb http://repository.spotify.com stable non-free
    state: present
    filename: spotify

- name: 'Install a list of packages'
  apt:
    name: "{{ item }}"
    state: present
    install_recommends: no
  loop:
    - i3
    - i3lock
    - i3status
    - dmenu
    - slim
    - xorg
    - thunderbird
    - firefox-esr
    - pulseaudio
    - pavucontrol
    - thunar
    - arandr
    - qnapi
    - vlc
    - pdfsam
    - evince
    - lxterminal
    - spotify-client
    - pass
    - ansible
    - xclip
    - libreoffice-calc
    - cryptsetup
    - rsync
    - tcpdump
    - torbrowser-launcher
    # for kernel building
    - build-essential
    - libncurses-dev
    - bison
    - flex
    - libssl-dev
    - libelf-dev
    - bc
