---
- hosts: all
  roles:
    - spacemacs
    - dev
    - { role: hardening, become: yes }
    
- hosts: ssh_terminals
  roles:
    - yubikey
    - ssh

- hosts: gui
  roles:
    - { role: where_is_my_env, become: yes }
    - config
