---
- hosts: all
  roles:
    - { role: spacemacs, tags: [ basic ] }
    - { role: dev, tags: [ basic ] }
    - { role: hardening, tags: [ basic ] }
    - { role: yubikey, tags: [ ssh ] }
    - { role: ssh, tags: [ ssh ] }
    - { role: where_is_my_env, tags: [ gui ] }
    - { role: config, tags: [ config ] }

- hosts: ssh_terminals
  roles:
    - yubikey
    - ssh
