Host {{ item.host }}
{% if item.hostname is defined %}
  HostName {{ item.hostname }}
{% endif %}
{% if item.user is defined %}
  User {{ item.user }}
{% endif %}
{% if item.port is defined %}
  Port {{ item.port }}
{% endif %}
{% if item.identity_file is defined %}
  IdentityFile {{ item.identity_file }}
{% endif %}
