---

- name: 'Install required packaged'
  apt:
    name: "{{ item }}"
    state: present
    install_recommends: no
  loop:
    - gnupg2
    - gnupg-agent
    - dirmngr
    - cryptsetup
    - scdaemon
    - pcscd
    - secure-delete
    - hopenpgp-tools
    - yubikey-personalization
    - pinentry-qt
  become: yes

- name: 'Init gpg home directory'
  shell: gpg -K

- name: 'Copy GPG config file'
  copy:
    src: gpg-agent.conf
    dest: ~/.gnupg/gpg-agent.conf

- name: 'Copy gpg-ssh-agent configuration'
  copy:
    src: yubikey
    dest: ~/.config/yubikey

- name: 'Import yubikey configuration in .bashrc'
  lineinfile:
    path: ~/.bashrc
    line: 'source ~/.config/yubikey'
    create: yes
