---
- name: 'Install a list of packages'
  apt:
    name: "{{ packages }}"
    state: present
    install_recommends: no
  vars:
    packages:
    - vim
    - tmux
    - docker.io
    - docker-compose
    - git
    - htop
    - gcc
    - g++
    - make
    - cmake
    - python3
    - python3-pip
    - python3-dev
    - ipython3
    - borgbackup
    - pass
    - stress
    - ethtool
    - ca-certificates
    - wireshark
    - dnsutils
    - curl
    - silversearcher-ag
    - jq
  become: yes

- name: 'Create some common directories'
  file:
    path: ~/_projects
    state: directory
    mode: 0755

- name: 'Install python packages'
  pip:
    name: yapf
  become: yes
