---
- name: 'Install a list of packages'
  apt:
    name: "{{ packages }}"
    state: present
    install_recommends: no
  vars:
    packages:
    - docker.io
    - docker-compose
    - git
    - gcc
    - g++
    - make
    - cmake
    - python3
    - python3-pip
    - python3-dev
    - ipython3
    - pass
    - wireshark
    - clang-format
  become: yes

- name: 'Create some common directories'
  file:
    path: ~/_projects
    state: directory
    mode: 0755

- name: 'Install python packages'
  pip:
    name: "{{ item }}"
    executable: pip3
  loop:
    - yapf
